@model Inforce.Models.UrlShortener

@using Inforce.Authorization

@{
    ViewData["Title"] = "Details";
}

<h1>Short URL Info</h1>



<div>
    <hr />
    <dl class="row">
        @{
            @if (ViewContext.HttpContext.User.IsInRole(Constants.ShortenerAdministratorRole))
            {

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Id)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Id)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CreatorId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CreatorId)
                </dd>
            }
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LongUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LongUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShortUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShortUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        

    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
